@-webkit-keyframes slidingAnimation {
    0% {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(-70px, 0, 0);
        -webkit-transform: translate3d(-70px, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
        -webkit-transform: translate3d(0, 0, 0);
    }
}

.itemSlidingAnimation {
    -webkit-animation: slidingAnimation;
    animation: slidingAnimation;
    -webkit-animation-duration: 1000ms;
    animation-duraton: 1000ms;
}

td {
    font-size: 33px;
    width: 75px;
    height: 50px;
    text-align: center;
}

.d-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

input {
    border: hidden;
}

.swiper-slide img {
    max-width: 20%;
}

.pin {
    font-size: 300%;
}