<ion-content>
    <ion-grid class="signup-background">
        <section class="top-banner">
            <ion-row>
                <ion-col size="12">
                    <img src="/assets/img/signuplogin/logo_investor_beeldmerk_plant.png" class="kuyua-logo" />
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h1>Earn the most with your farm</h1>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    We are <b>Kuyua</b> a startup for investing in farming.
                    <b>Kuyua's</b> mission is to bring parties together and improve farming for you.
                </ion-col>
            </ion-row>
            <br>
            <ion-row>
                <ion-col>
                    Mail any suggestions to <b>Kuyua</b>: <a href="mailto:info@kuyua.com?subject=Hey Kuyua, I have a question&body=Hi there, tell me...">info@kuyua.com</a>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col><br><br><br>
                    <ion-button size="small" (click)="closeModal()">
                        Close this screen
                    </ion-button>
                </ion-col>
            </ion-row>

        </section>

    </ion-grid>
</ion-content>