.arrow-background {
    background-image: url('/assets/img/signuplogin/line.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    background-size: 80%;
}

.smalltext {
    font-size: 90%;
}