<ion-content>
    <ion-grid class="signup-background">

        <section class="top-banner">
            <ion-row>
                <ion-col size="12">
                    <img src="/assets/img/signuplogin/logo_investor_beeldmerk_plant.png" class="kuyua-logo" />
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h1>Earn the most with your farm</h1>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <h2> Created by farmers for farmers.<br> By investors for investors.</h2>
                </ion-col>
            </ion-row>
        </section>

        <section class="perks">
            <br><br><br><br> <br><br><br><br><br><br><br><br><br><br>
        </section>

    </ion-grid>
</ion-content>